Source: sync-time-now-widget
Section: user/network
Priority: optional
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends:
 debhelper-compat (= 12),
 libhildondesktop1-dev,
 libhildon1-dev,
 libgtk2.0-dev,
 osso-af-settings,
 libtime-dev,
Standards-Version: 4.3.0
Vcs-Git: https://github.com/maemo-leste-extras/sync-time-now-widget
Vcs-Browser: https://github.com/maemo-leste-extras/sync-time-now-widget

Package: sync-time-now-widget
Architecture: any
Depends: ${shlibs:Depends}, rdate
Description: Status menu widget: button to sync time with rdate (from pool.ntp.org)
